<footer class="footer">
    <div class="row">
        <div class="col-md-3">
            <span class="foot-head">CONTACT US</span>

            <div class="graph">
            5, Mekunwen Rd. Off Oyinkan Abayomi Drive PMB 80173, Ikoyi, Lagos, Nigeria
        +234 1 2715000
        0700CALLARM (0700 2255 276)
        Find a branch
        Privacy Policy
            </div>
        </div>
        <div class="col-md-3">
            <span class="foot-head"> USEFUL LINKS</span>

            <ul class="links">
                <li class="link">Daily Unit Prices</li>
                <li class="link">ARM Group</li>
                <li class="link">National Pension Commission</li>
                <li class="link">Pension Fund Operators Association of Nigeria</li>
                <li class="link">Whistle Blowing</li>
                <li class="link">Public Notice on abuse of the Pensions Scheme</li>
            </ul>
           
        </div>
        <div class="col-md-3">
            <span class="foot-head"> MEDIA CENTER</span>
            <ul class="links">
                <li class="link">Frequently Asked Questions</li>
                <li class="link">Monthly Digest and Newsletters</li>
                <li class="link">Pension Reform Act 2014</li>
                <li class="link">Regulations and Financial Reports</li>
                <li class="link">Notice on Pension Reform Act 2014</li>
                <li class="link">Download the Engage App</li>
                <li class="link"><img src="./assets/logo/playstore.png" width="150px" alt=""></li>
                <li class="link"><img src="./assets/logo/applestore.png" width="150px" alt=""></li>
            </ul>
           
        </div>
        <div class="col-md-3 pl-4">
            <span class="foot-head"> SOCIALS</span>
            <div class="row mt-2" style="text-align: center;">
                <img src="./assets/logo/11.png" width="40px" alt="">
                <img src="./assets/logo/12.png" width="40px" alt="">
                <img src="./assets/logo/13.png" width="40px" alt="">
                <img src="./assets/logo/14.png" width="40px" alt="">
            </div>
            <div class="row">
                <img src="./assets/logo/ukas.png" width="200px" alt="">
            </div>
            <div class="graph" style="text-align: center; font-size: 80%;">
                We have taken extra steps to ensure the safety of your
                 information by acquiring the ISO 27001:2013 certification for information security.
            </div>
        </div>
    </div>
</footer>