<app-header></app-header>
<div class="cover">
    <div class="top">
        Vantage Newsletter
    </div>
    <div class="the-rest">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                        <img src="./assets/images/21.jpg" alt="">
                        <div class="subtitle">
                            ARTICLE | MAR 9, 2020
                        </div>
                        <div class="title">
                            Your health deserves some love
                        </div>                    
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                        <img src="./assets/images/21.jpg" alt="">
                        <div class="subtitle">
                            ARTICLE | MAR 9, 2020
                        </div>
                        <div class="title">
                            Your health deserves some love
                        </div>                    
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                        <img src="./assets/images/21.jpg" alt="">
                        <div class="subtitle">
                            ARTICLE | MAR 9, 2020
                        </div>
                        <div class="title">
                            Your health deserves some love
                        </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>