<app-header></app-header>

<div class="cover">

    <div class="topmost">
        <div class="with-button">
            <div class="grapph">
                Retirement planning isn’t one-size-fits-all.
            </div>
            <button class="btn">Explore</button>
        </div>
    </div>

    <div class="second">
        <span class="hi">Hi, how may we assist you today?</span><br>
        <div class="container">
            <div class="row">
                <div class="col-sm the-image im m-2">
                    <div class="texts"> Benefit of Payment <br>
                        <span> Learn More </span>
                    </div>
                </div>
                <div class="col-sm the-image2 im m-2">
                    <div class="texts"> Voluntary Contributions <br>
                        <span> Learn More </span>
                    </div>
                </div>
                <div class="col-sm the-image3 im m-2">
                    <div class="texts"> Account Maintenance <br>
                        <span> Learn More </span>
                    </div>
                </div>
                <div class="col-sm the-image4 im m-2">
                    <div class="texts"> Price History <br>
                        <span> Learn More </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="third">
        <div class="container row">
            <div class="col-md-6" style="margin:auto; text-align: right; padding-right: 5%;">
                <img src="./assets/images/soli.png" width="150px" alt="">
            </div>
            <div class="col-md-6" style="text-align: left;">
                <span class="soli">No Soliciting
                </span><br>
                <div>
                    ARM Pension Managers (PFA) Limited does not solicit nor request for payment as a condition to
                    processing your retirement benefits or providing you with information in relation to your retirement
                    savings account with us. Please disregard any request
                    for cash or gift from any employee or agent or organization as a condition for accessing your
                    benefits
                </div>
            </div>
        </div>
    </div>

    <div class="fourth">
        <div class="row container">
            <div class="col-md-7">
                <img src="./assets/images/01.jpg" alt="" class="col-sm-6">
                <img src="./assets/images/02.jpg" alt="" class="col-sm-6">
                <img src="./assets/images/03.jpg" alt="" class="col-sm-4">
                <img src="./assets/images/04.jpg" alt="" class="col-sm-4">
                <img src="./assets/images/05.jpg" alt="" class="col-sm-4">
            </div>
            <div class="col-md-5">
                <span class="soli"> Tomorrow is looking good.</span>
                <div class="grraph">
                    Retirement is supposed to be enjoyable and stress-free, so we created our planning experience to be
                    that way too.

                    This isn’t a typical retirement planning experience. It’s delightful, research-backed, and focuses
                    on what’s most important: you.


                </div><br>
                <button class="btn"> Make it happen</button>
            </div>
        </div>
        
    </div>

    <div class="fifth">
        <div class="row">
            <div class="talks col-md-5">
                <div class="fifth1">
                    <div class="topic">
                        Plan your retirement with us
                    </div>
                    <div class="sub-topic">
                        Can I buy my dream house at retirement?
                    </div>
                    <div class="topic-talks">
                        Retirement is an adventure in itself and you can totally enjoy the ride in your brand-new dream car. With Voluntary Contributions made to your RSA today,
                         your tomorrow will be filled with making your dreams come true.</div>
                </div> <hr>
                <div class="fifth1">
                    <!-- <div class="topic">
                        Plan your retirement with us
                    </div> -->
                    <div class="sub-topic">
                        Can I continue to pay my child’s fees at retirement?
                    </div>
                    <div class="topic-talks">
                        With the right plans in place, you can continue to pay child's school fees even at retirement. 
                        Talk to us today to make sure your pension plan lives up to the retirement you deserve.
                    </div>
                </div> <hr>
                <div class="fifth1">
                    <div class="sub-topic">
                        Can I buy my dream car at retirement?
                    </div>
                    <div class="topic-talks">
                        When you have accumulated enough money in your retirement savings account (RSA) during your working years, 
                        you can buy your dream house and enjoy a comfortable retirement with the ones you love.
                    </div>
                </div> <hr>
               
                <button class="btn"> Start Now</button>
               
            </div>
            <div class="col-md-5 forma">
                <div class="the-form">
                    <span class="topic">
                        Retirement Benefit Calculator
                    </span>
                    <div class="the-rest">
                        TOTAL RETURNS <br>
                        <b class="bold">₦ 0.00</b>
                        <div class="form-group">
                            <label for="current" class="rsa">Current RSA Balance</label>
                            <input type="number" class="form-control"  placeholder="0">
                        </div>
                        <div class="form-group">
                            <label for="current" class="rsa">Total Monthly Contribution (in Naira)*</label>
                            <input type="number" class="form-control"  placeholder="0">
                        </div>
                        <div class="form-group">
                            <label for="current" class="rsa">Monthly Voluntary Contribution (in Naira)</label>
                            <input type="number" class="form-control"  placeholder="0">
                        </div>
                        <div class="form-group">
                            <label for="current" class="rsa">Expected Retirement Date*</label>
                            <input type="date" class="form-control"  placeholder="0">
                        </div>
                        <div class="form-group">
                            <button class="btn form-control"> Calculate </button>
                        </div>
                        <div class="have">
                            You will have N 0.00 at the time of retirement. Use our retirement planner to help you plan and achieve this goal

                            <br><br><span>Try our advanced retirement planning tool </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sixth">
        <div class="row">
            <div class="col-md-5 manage">
                <div class="topic">
                    Manage your account from anywhere
                </div>
                <div class="topic-talk">
                    With the ARM Engage app, you take your retirement account with you everywhere. 
                    Download the app today from the Google play store or iOS App store to enjoy easy access.
                </div>
                <img src="./assets/logo/applestore.png" width="150px" alt="">
                <img src="./assets/logo/playstore.png" width="150px" alt="">
            </div>
            <div class="col-md-7 phone">
                <img src="/assets/images/phone.png" width="500px " alt="">
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>